<section id="about" class="about-section-padding bg-warning">
  <div id="htmlData" class="container-fluid text-justify">
    <div class="row text-justify">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Direccion Remitente:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="remitente"
            class="form-control"
            id="validationServer01"
            placeholder="Direccion Remitente"
            [(ngModel)]="formremitente"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Direccion Destinatario:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="destinatario"
            class="form-control"
            id="validationServer01"
            placeholder="Direccion Destinatario"
            [(ngModel)]="formdestinatario"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Nombres y Apellidos:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="nombres"
            class="form-control"
            id="validationServer01"
            placeholder="Nombres y Apellidos"
            [(ngModel)]="formnombre"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Cedula:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="cedula"
            class="form-control"
            id="validationServer01"
            placeholder="Cedula"
            [(ngModel)]="formcedula"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Empresa*:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="empresa"
            class="form-control"
            id="validationServer01"
            placeholder="Empresa"
            [(ngModel)]="formempresa"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Celular:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="text"
            name="celular"
            class="form-control"
            id="validationServer01"
            placeholder="Celular"
            [(ngModel)]="formcelular"
            required
          />
        </div>
      </div>
    </div>
    <div class="row text-justify mt-5">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-text text-justify">
          <label for="validationServer01">Correo:</label>
        </div>
      </div>
      <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
        <div class="about-text text-justify">
          <input
            type="email"
            name="correo"
            class="form-control"
            id="validationServer01"
            placeholder="Correo"
            [(ngModel)]="formcorreo"
            required
          />
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-5">
    <button class="btn btn-dark me-md-2 col-4" type="button"  value="registrar" (click)="agregarGuia()">ENVIAR</button>
    <button class="btn btn-dark col-4" type="button" value="registrar" (click)="descargarPDF()">DESCARGAR PDF</button>
  </div>
  
</section>

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let guia of guias; let i = index">
        {{ i + 1 }}: {{ guia.nombre }} {{ guia.cedula }} {{ guia.remitente }}
        {{ guia.destinatario }}{{ guia.empresa }} {{ guia.correo }}
        {{ guia.celular }}
      </div>
    </div>
  </div>
</div>
