<head>
  <!-- Place your kit's code here -->
  <script
    src="https://kit.fontawesome.com/629f673afc.js"
    crossorigin="anonymous"
></script>
</head>
<!--::::Pie de Pagina::::::-->
<body>
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img
              src="https://cdn.discordapp.com/attachments/1016773360518176778/1016828751805427752/Logo_transparente-02.png"
              alt="Logo de SLee Dw"
            />
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SERVICIOS</h2>
        <p>
          ofertas
        </p>
        <p>
            clientes
        </p>
      </div>
      <div class="box">
        <h2>SERVICIOS</h2>
        <p>
          ofertas
        </p>
        <p>
            clientes
        </p>
      </div>
      
      
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="fa-brands fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
          
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2021 <b>Wallpanadev</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
</body>
