.color {
  height: 100px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #ffa704 0%, rgba(255, 167, 4, 0) 100%);
  border-radius: 0px 0px 25px 25px;
}
.titulo{
    left: 200px;
}
.figure{
  width: 150px;

}