<div class="box">
  <div class="section-header text-start pb-5 text">
    <h5>Genera tu Guia de Trabajo</h5>
  </div>
  <app-guide></app-guide>
  <div class="section-header text-center pb-5 text">
    <h5>Tu opinion nos importa. Ayudanos a mejorar</h5>
    <p>califica nuestro servicio</p>
  </div>
  <div class="section-header text-start pb-5 text">
    <h5>¿Como calificas tu experiencia completa con nuestros servicios?</h5>
  </div>
  <section id="about" class="about-section-padding">
    <div class="container-fluid text-justify">
      <div class="row text-justify">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Totalmente insatisfactotio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Insatisfactorio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Neutra
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Satisfactoria
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Totalmente satisfactoria
            </label>
          </div>
        </div>
        <div class="col-lg-7 col-md-19 col-19 ps-lg-8 mt-md-8">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Example textarea</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning" type="button">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section-header text-center pb-5 text">
    <h5>UBICACION DEL SERVICIO</h5>
  </div>
</div>
